@model cbsStudents.ViewModels.EventCreateEditVm;


@*  TITLE*@
<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control mb-3" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>


@*  EVENT START*@
<div class="row">
    <div class="col">
        <label asp-for="EventStartDate" class="control-label"></label>

        <input type=date id=e asp-for="EventStartDate" class="form-control">
        <script>
            document.getElementById('e').value = new Date().toISOString().substring(0, 10);
        </script>
        <span asp-validation-for="EventStartDate" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="EventStartTime" class="control-label"></label>
        <input type="time" value="20:00" asp-for="EventStartTime" class="form-control" />
        <span asp-validation-for="EventStartTime" class="text-danger"></span>
    </div>
</div>


@*  EVENT ENDS*@
<div class="row">
    <div class="col">
        <label asp-for="EventEndDate" class="control-label"></label>
        <input type=date id=f asp-for="EventEndDate" class="form-control">
        <script>
            document.getElementById('f').value = new Date().toISOString().substring(0, 10);
        </script>
        <span asp-validation-for="EventEndDate" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="EventEndTime" class="control-label"></label>
        <input type="time" value="18:00" asp-for="EventEndTime" class="form-control" />
    </div>
</div>



@*OBS - LAVE SÅ FLUEBEN I ONLINE DISABLER DE NÆSTE FELTER*@
@*            ONLINE EVENT?*@
@*<div class="form-group mt-3 mb-2">
    <label asp-for="Online" class="control-label"></label>
    <input type="checkbox" asp-for="Online" class="form-check-input" />
    <span asp-validation-for="Online" class="text-danger"></span>
</div>
*@

@*<h4 class="mt-3">Location</h4>*@



@*  ADRESS*@
<div class="form-group">
    <label asp-for="Adress" class="control-label"></label>
    <input asp-for="Adress" id="y" class="form-control" />
    <span asp-validation-for="Adress" class="text-danger"></span>
</div>


@*  CITY*@
<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>


@*  COUNTRY*@
<div class="form-group">
    <label asp-for="Country" class="control-label"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>


@*  EVENT GENRE*@
<div class="form-group">
    <label asp-for="EventGenre" class="control-label"></label>
    <select asp-for="EventGenre" class="form-control">
        <option>Concert</option>
        <option>Comedy</option>
        <option>Sport</option>
        <option>Debate</option>
        <option>E-Sport</option>

    </select>
    <span asp-validation-for="EventGenre" class="text-danger"></span>
</div>


@*  DESCRIPTION*@
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>


@*  VENUE DROPDOWN*@
<div class="form-group row">
    <div class="col-lg-10">
        @Html.DropDownListFor(x => Model.SelectedVenue, Model.Venues, "Select Venue",  new { @class = "form-control" })
    </div>
</div>


@*  IMAGE UPLOAD*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>*
<div class="mt-2 mb-2">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" accept="image/" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>


@*  SUBMIT*@
<div class="form-group mt-2 mb-3">
    <input asp-page-handler="Upload" input type="submit" value="Create" class="btn btn-primary" />
</div>


@*  LINKS*@
<div class="mb-5">
    <a asp-action="Index">Back to Events</a>
</div>




