<h4>Search Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-controller="Events" asp-action="Index" method="get">
         <p>
        Search: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

    </div>
</div>
