@*@model cbsStudents.Models.Entities.Event*@

@model cbsStudents.ViewModels.EventCreateEditVm;

@{
    ViewData["Title"] = "Create Event";
}

<h1>Create Event</h1>

<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_CreateEditEvent")
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
