@model cbsStudents.Models.Entities.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Event</h1>

<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_CreateEditEvent")
        </form>
    </div>
</div>


@section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
