@model cbsStudents.ViewModels.VenueVm;

@{
    ViewData["Title"] = "Edit Venue";
}


<h1>Edit Venue</h1>

<h4>Venue</h4>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_CreateEditVenue")

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

