html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.decription {
    background-color: yellow;
}

footer {
    margin-top:50px !important;
    position: relative;
}

.form-group {
    margin-bottom:20px;
}